<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.simpson.josh.lost" >

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Base.ThemeOverlay.AppCompat.Dark">
        <activity
            android:name="com.simpson.josh.lost.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.simpson.josh.lost.WhereAmI"
            android:label="@string/title_activity_where_am_i" >
        </activity>
        <activity
            android:name="com.simpson.josh.lost.RouteFinder"
            android:label="@string/title_activity_where_am_i" >
        </activity>
        <activity
            android:name="com.simpson.josh.lost.RouteResults"
            android:label="@string/title_activity_route_results" >
        </activity>
        <activity
            android:name="com.simpson.josh.lost.settings"
            android:label="@string/title_activity_settings" >
        </activity>
        <receiver android:name=".LocationPush">
            <intent-filter>
                <action android:name="android.net.wifi.SCAN_RESULTS"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>
