<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.simpson.josh.lost" >

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Base.ThemeOverlay.AppCompat.Dark" >
        <activity
            android:name="com.simpson.josh.lost.MainActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.simpson.josh.lost.WhereAmI"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_where_am_i" >
        </activity>
        <activity
            android:name="com.simpson.josh.lost.RouteFinder"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_where_am_i" >
        </activity>
        <activity
            android:name="com.simpson.josh.lost.RouteResults"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_route_results" >
        </activity>
        <activity
            android:name="com.simpson.josh.lost.settings"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_settings" >
        </activity>

        <service android:name="com.simpson.josh.lost.LocationPush" >
        </service>

        <activity
            android:name="com.simpson.josh.lost.LoginDialog"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_login_dialog"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
    </application>

</manifest>
